.notification {
  --bulma-notification-padding: 0.3em 0.3em;
}

dl {
  display: grid;
  grid-template-columns: max-content max-content;
  margin: 2px;
}

/* Put a nice box around nested description lists */
dl dl {
  border: 1px solid gray;
}

dt {
  grid-column: 1;
  margin-left: 5px;
  margin-right: 5px;
  text-align: right;
  font-weight: bold;
}

dd {
  grid-column: 2;
  margin-left: 5px;
  margin-right: 5px;
}
