{% extends "_base.html.jinja" %}
{% block content %}
    <h1 class="title">CI Configuration</h1>
    <p class="subtitle">Info about GitHub CI check functionality</p>
    <pre><code class="language-python">{{ pformat(ci_manager) }}</code></pre>
{% endblock content %}
