{% extends "_base.html.jinja" %}
{% block content %}
    <h1 class="title">CI Configuration</h1>
    GitHub CI functionality is not enabled in this mobu instance.
    To enable it, see <a href="https://mobu.lsst.io/operations/index.html#ci-app>here.</a>"
{% endblock content %}
