{% extends "_base.html.jinja" %}
{% block content %}
    <h1 class="title">Mobu</h1>
    <p>
        Use this UI to see config information about mobu and to perform some basic operations, like pausing and restarting flocks.
    </p>
{% endblock content %}
